// colors
$torotoBlue: #1a30db;
$torotoBlack: #373737; // also for all writen in first, page titulo segunda pagina (h1)
$torotoWhite: #ffffff;
$torotoGrey1: #333333; // also titles second page y parrafos despues de la imagen, otrso titulos seunda pagina (h2)
$torotoGrey2: #6f6f6f; //parrafo inicial segunda pagina
$torotoGrey3: #bdbdbd; // nose donde se usa
$torotoGrey4: #f2f2f2; // nose donde lo usa

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
