.accordionSection {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $torotoBlack;

}
.accordion {
  background-color: $torotoWhite;
  color: $torotoBlack;
  cursor: pointer;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordionTitle {
  // font-style: normal;
  // font-weight: 500;
  // font-size: 20px;
  // line-height: 24px;
  // color:$torotoGrey1;
  @include fontStyling(normal,500,20px,24px,$torotoGrey1);
}
.accordionIcon {
  margin-left: auto;
  transition: transform 0.6s ease;
}
.rotate {
  transform: rotate(180deg);
}
.accordionContent {
  @include fontStyling(normal,normal,16px,24px,$torotoGrey1);
  // font-size: 16px;
  // line-height: 24px;
  // font-style: normal;
  // font-weight: normal;
  // color:$torotoGrey1;
  background-color: $torotoWhite;
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.accordionText {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
.chevronAccordion {
  width: 15px;
  height: auto;
}

.activities__accordeon{
  margin: 32px 0;
}

.map__image{
  height: 600px;
  width: 100%;
  background-color: $torotoGrey4;
  border-radius: 20px;
  margin: 32px 0;
}