.impact-section {
  &__title {
    color: $torotoBlack;
    font-size: 48px;
  }
}

.impact__cards {
  display: flex;
  justify-content: space-around;
}

.impact__title {
  @include fontStyling(normal, normal, 48px, 56px, $torotoGrey1);
}

.impact__card {
  text-align: center;
  height: 180px;
  display: flex;

  &__background {
    width: 180px;
    height: 130px;
    background-color: $torotoGrey4;
    border-radius: 10px;
    display: inline;
    align-self: flex-end;
    position: absolute;
  }

  &__info {
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  &__name {
    @include fontStyling(normal, 500, 72px, 72px, $torotoBlue);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__value {
    @include fontStyling(normal, bold, 20px, 20px, $torotoGrey1);
    width: 165px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 780px) {
  .impact__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .impact__card {
    width: 35%;
    margin: 10px;

    &__name {
      @include fontStyling(normal, bold, 48px, 56px, $torotoBlue);
    }

    &__value {
      @include fontStyling(normal, bold, 16px, 20px, $torotoGrey1);
    }
  }
}
