.intro-section {
  display: flex;
  margin: 20px 0;
}

.intro__location {
  @include fontStyling(normal, normal, 24px, 24px, $torotoGrey1);
}

.intro__name {
  @include fontStyling(normal, normal, 48px, 56px, $torotoGrey1);
}

.intro__description {
  @include fontStyling(normal, 500, 20px, 24px, $torotoGrey2);
}

.intro__image {
  border-radius: 20px;
  height: auto;
  width: 45%;
  margin: 10px;
}
@media screen and (max-width: 780px) {
  .intro-section {
    flex-direction: column-reverse;
    margin: 0;
    .intro-section__info {
      margin-top: 10px;
      border-radius: 20px 20px 0 0;
      padding: 5px;
      margin: -25px 0;
      background-color: $torotoWhite;
      z-index: 10;
    }
  }
  .intro__image {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }
  .intro__location {
    @include fontStyling(normal, normal, 14px, 16px, $torotoGrey1);
  }

  .intro__name {
    @include fontStyling(normal, normal, 24px, 28px, $torotoGrey1);
  }

  .intro__description {
    @include fontStyling(normal, 500, 12px, 14px, $torotoGrey2);
  }
  .problem {
    margin-top: 40px;
    &__title {
      @include fontStyling(normal, normal, 14px, 16px, $torotoGrey1);
    }
    &__description{
      @include fontStyling(normal, normal, 14px, 16px, $torotoGrey1);

    }
  }
  
}
