.intro-section {
  display: flex;
  margin: 20px 0;
}

.intro__location {
  @include fontStyling(normal, normal, 24px, 24px, $torotoGrey1);
  // color: $torotoGrey1;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 24px;
  // line-height: 24px;
}

.intro__name {
  @include fontStyling(normal, normal, 48px, 56px, $torotoGrey1);
  // color: $torotoGrey1;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 48px;
  // line-height: 56px;
}

.intro__description {
  @include fontStyling(normal, 500, 20px, 24px, $torotoGrey2);
  // color: $torotoGrey2;
  // font-style: normal;
  // font-weight: 500;
  // font-size: 20px;
  // line-height: 24px;
}

.intro__image {
  border-radius: 20px;
  height: auto;
  width: 45%;
  margin: 10px;
}
@media screen and (max-width: 780px) {
  .intro-section {
    flex-direction: column-reverse;
    div {
      margin-top: 10px;
    }
  }
  .intro__image {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

 
}
