.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.1);
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background-color: $torotoWhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  // padding: 25px;
}
.modalInfo {
  padding: 0 25px;
}
.modal__title {
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 36px;
  color: $torotoBlack;
}
.modal__description {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $torotoGrey1;
}
.list__title {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: $torotoGrey1;
}

.modal__list {
  padding-left: 25px;
  li {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: $torotoGrey1;
    margin: 4px 0;
  }
}

.modal__banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 156px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.modal__img {
  left: 50%;
  margin-left: -280px;
  margin-top: -220px;
  position: absolute;
}

.modal__closebtn {
  background-color: transparent;
  color: $torotoWhite;
  border: none;
  z-index: 1;
  padding: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.modal__buttons{
  display: flex;
}