.problem__title {
  @include fontStyling(normal,normal,24px,24px,$torotoGrey1);
  // font-style: normal;
  // font-weight: normal;
  // font-size: 24px;
  // line-height: 24px;
  // color: $torotoGrey1;
}

.problem__description {
  font-size: 16px;
  line-height: 24px;
  color: $torotoGrey1;
  margin: 22px 0;
}

.activities__title {
  margin-top: 5px;
  @include fontStyling(normal,normal,48px,56px,$torotoBlack);
  // font-style: normal;
  // font-weight: normal;
  // font-size: 48px;
  // line-height: 56px;
  // color: $torotoBlack;
}

.activities__description {
  color: $torotoGrey1;
  font-size: 24px;
  line-height: 24px;
}

.map__title {
  @include fontStyling(normal,normal,24px,24px,$torotoGrey1);
  // font-style: normal;
  // font-weight: normal;
  // color: $torotoGrey1;
  // font-size: 24px;
  // line-height: 24px;
}

.projectInfo {
  display: flex;
  margin: 20px 0;
}
