.add-project__button {
  height: 48px;
  width: 100%;
  background-color: $torotoBlack;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  @include fontStyling(normal, 500, 14px, 16px, $torotoWhite);
  // font-size: 14px;
  // line-height: 16px;
  // font-style: normal;
  // font-weight: 500;
  // color: $torotoWhite;
}

.dark {
  background-color: $torotoBlack;
  color: $torotoWhite;
}

.light {
  background-color: $torotoWhite;
  color: $torotoBlack;
  border: 1px solid $torotoBlack;
}

.nude {
  background-color: $torotoWhite;
  color: $torotoBlack;
  border: none;
}
@media screen and (max-width: 780px) {
  .add-project__button {
    width: 90%;
  }
}
