.mainFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 112px;
  background-color: $torotoBlue;
  color: $torotoWhite;
  position: relative;
  bottom: 0;
}

.redesSociales {
  img {
    margin: 10px;
  }
}

.logoFooter{
  width: 177.2px;
  height: auto;
}