//-----------------------------------------------------------
// map section in landing

.containerMap {
  height: 748px;
  background-color: $torotoGrey3;
}
.mapOverlay {
  display: flex;
  flex-direction: column;
  position: relative;
      height: 100%;
    justify-content: space-between;
}
.intro {
  // height: 300px;
  width: 336px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px;
  text-align: justify;
  flex: 1;
}

.moreProjects {
  height: 50px;
  width: 100%;
  background-color: $torotoGrey2;
  text-align: center;
  position: absolute;
  bottom: 0;
  flex: none;
  // align-self: flex-end;
}
