.tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:15px;
}

.tag__item {
  display: flex;
  align-items: center;
  border: 1px solid $torotoBlack;
  border-radius: 18px;
  padding: 5px;
  margin: 0.3em;
}

.tag__name{
  @include fontStyling(normal, 500, 14px, 24px, $torotoBlack);
}

.tag__image{
  width:24;
  height: 24; 
}

@media screen and (max-width: 780px) {
  .tag__name{
    @include fontStyling(normal, 500, 12px, 14px, $torotoBlack);
  }
}