@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 56px;
  padding: 0 100px;
}

@media screen and (max-width: 780px) {
  .content-wrap {
    padding: 0;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 56px;
  background-color: #1a30db;
  color: #ffffff;
  position: fixed;
}

.navLinks {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.proyectos,
.sobreToroto,
.blog,
.metaRegistro,
.contacto {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  padding: 0 8px;
  width: 122px;
  height: 16px;
}

.contacto {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 114px;
  height: 32px;
  background-color: #ffffff;
  color: #373737;
}

.mobile-menu-icon {
  display: none;
}

.logo {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 780px) {
  .navLinks {
    display: none;
  }
  .navLinksMobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #1a30db;
    right: 0;
    top: 75px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .navLinksMobile li {
    color: #ffffff;
    text-align: center;
    padding: 32px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navLinksMobile .contacto {
    border: none;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    background-color: #1a30db;
    border: none;
    outline: none;
    top: 15px;
    left: 25px;
  }
}

.mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 112px;
  background-color: #1a30db;
  color: #ffffff;
  position: relative;
  bottom: 0;
}

.redesSociales img {
  margin: 10px;
}

.logoFooter {
  width: 177.2px;
  height: auto;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px;
}

.tag__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #373737;
  border-radius: 18px;
  padding: 5px;
  margin: 0.3em;
}

.tag__name {
  color: #373737;
  font-size: 14px;
  line-height: 24px;
}

.tag__image {
  width: 24;
  height: 24;
}

.add-project {
  margin: 32px 0;
  width: 100%;
}

.add-project__title {
  font-size: 34px;
  line-height: 36px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}

.add-project__description {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}

.add-project__button {
  height: 48px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  background-color: #373737;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin: 10px 0;
}

.dark {
  background-color: #373737;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #373737;
  border: 1px solid #373737;
}

.nude {
  background-color: #ffffff;
  color: #373737;
  border: none;
}

.containerMap {
  height: 748px;
}

.intro {
  width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 10px;
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.moreProjects {
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.mapOverlay, .moreProjects, .intro {
  pointer-events: none;
}

.project-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-section__title {
  color: #373737;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  margin: 32px 0;
}

.project-section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 452px;
  height: auto;
  min-height: 650px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-card__img {
  width: auto;
  height: 172px;
}

.project-card__img img {
  width: 100%;
  height: 172px;
  border-radius: 20px 20px 0 0;
}

.project-card__cover {
  height: 322px;
  padding: 32px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.buttonMore {
  width: 100%;
  height: 48px;
  border: 1px solid #373737;
  background-color: #ffffff;
  border-radius: 10px;
}

.buttonMore:hover {
  cursor: pointer;
}

.project-card__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.6;
}

.problem__title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.problem__description {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 22px 0;
}

.activities__title {
  font-style: normal;
  font-weight: normal;
  margin-top: 5px;
  font-size: 48px;
  line-height: 56px;
  color: #373737;
}

.activities__description {
  color: #333333;
  font-size: 24px;
  line-height: 24px;
}

.map__title {
  font-style: normal;
  font-weight: normal;
  color: #333333;
  font-size: 24px;
  line-height: 24px;
}

.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.intro__location {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.intro__name {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.intro__description {
  color: #6f6f6f;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.intro__image {
  border-radius: 20px;
  height: auto;
  width: 45%;
  margin: 10px;
}

.impact-section__title {
  color: #373737;
  font-size: 48px;
}

.impact__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.impact__title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

.impact__card {
  text-align: center;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.impact__card__background {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: inline;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.impact__card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  color: #1a30db;
  margin: 27px 0;
}

.impact__card__value {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  font-weight: bold;
  font-style: normal;
}

.accordionSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #373737;
}

.accordion {
  background-color: #ffffff;
  color: #373737;
  cursor: pointer;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.accordionTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.accordionIcon {
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordionContent {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.accordionText {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.chevronAccordion {
  width: 15px;
  height: auto;
}

.activities__accordeon {
  margin: 32px 0;
}

.map__image {
  height: 600px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 32px 0;
}

.gallery__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #333333;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.gallery__image img {
  height: 280px;
  width: auto;
  max-width: 320px;
  border-radius: 10px;
}

.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.1);
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContainer {
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalInfo {
  padding: 0 25px;
}

.modal__title {
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 36px;
  color: #373737;
}

.modal__description {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.list__title {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
}

.modal__list {
  padding-left: 25px;
}

.modal__list li {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 4px 0;
}

.modal__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 156px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.modal__img {
  left: 50%;
  margin-left: -280px;
  margin-top: -220px;
  position: absolute;
}

.modal__closebtn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  z-index: 1;
  padding: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-container {
  margin-top: 56px;
  height: 748px;
}

.container-link {
  width: 100%;
  border: 1px solid #373737;
  border-radius: 8px;
  padding: 8px;
  margin: 3px 0;
  text-align: center;
}

.link-page {
  text-decoration: none;
  color: #373737;
  font-weight: normal;
  font-size: 14px;
}

.link-page:focus {
  outline: none;
}

.popup-img {
  height: auto;
  width: 220px;
  border-radius: 10px;
}

.containerMap {
  position: relative;
}

.mapOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.mapbox-container,
.mapOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mapOverlay {
  z-index: 10;
  margin-top: 56px;
}
/*# sourceMappingURL=App.css.map */