// colors
$torotoBlue: #1a30db;
$torotBlack: #373737; // also for all writen in first, page titulo segunda pagina (h1)
$torotoWhite:#ffffff;
$torotoGrey1: #333333; // also titles second page y parrafos despues de la imagen, otrso titulos seunda pagina (h2)
$torotoGrey2: #6F6F6F; //parrafo inicial segunda pagina
$torotoGrey3: #BDBDBD; // nose donde se usa
$torotoGrey4: #F2F2F2; // nose donde lo usa

