.containerMap {
  height: 748px;
}

.intro {
  // height: 300px;
  width: 336px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px;
  text-align: justify;
  flex: 1;
}

.moreProjects {
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  flex: none;
  // align-self: flex-end;
}
.mapOverlay,.moreProjects,.intro{
  pointer-events: none;
}