.containerMap {
  height: 748px;
}

.intro {
  width: 336px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: justify;
  flex: 1;
}

.moreProjects {
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  flex: none;
}
.mapOverlay,
.moreProjects,
.intro {
  pointer-events: none;
}
