.map-container {
  height: 748px;
}

.container-link {
  width: 100%;
  border: 1px solid $torotoBlack;
  border-radius: 8px;
  padding: 8px;
  margin: 3px 0;
  text-align: center;
}

.link-page {
  font-weight: normal;
  font-size: 14px;

  text-decoration: none;
  color: $torotoBlack;
  &:focus {
    outline: none;
  }
}

.popup-img {
  width: 220px;
  height: auto;
  border-radius: 10px;
}

.containerMap {
  position: relative;
}

.mapOverlay {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.mapbox-container,
.mapOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mapOverlay {
  z-index: 10;
}

.banner-mobile {
  display: none;
}

@media screen and (max-width: 780px) {
  .map-container {
    display: none;
  }

  .mapOverlay,
  .mapbox-container,
  .containerMap {
    height: 320px;
    margin-top: 0;
  }

  .banner-mobile {
    display: block;
    img {
      width: 360px;
      height: 290px;
    }
  }
  
  .containerMap {
    margin-top: -20px;
    border-radius: 20px 20px 0 0;
    z-index: 10;
    background-color: $torotoWhite;
  }
}
